#photo-container-landscape {
  display:inline-block;
  background-color: #ACAB93;
  height:300px;
  width:400px;
  position:relative;
  border: 1px solid black;
}

#photo-container-landscape img {
  max-width: 80%;
  max-height:80%;
  left: 7.5%;
  position: relative;
  border: 1px solid black;
}

#photo-container-portrait {
  display:inline-block;
  background-color: #ACAB93;
  height:400px;
  width:300px;
  position:relative;
  border: 1px solid black;
}

#photo-container-portrait img {
  max-width: 80%;
  max-height:80%;
  left: 10%;
  position: relative;
  border: 1px solid black;
}

#caption {
  left:10%;
  position:relative;
}
