a {
  text-decoration: none;
  display: inline;
}

#nav {
  margin-top: 10%;
  margin-left:40%;
}

#top-drawer-img {
  display: none;
  background-image:url('res/SVG/top-open_1.svg');
  background-repeat:no-repeat;
  height:250px;
  width:250px;
}

#mid-drawer-img {
  display: none;
  background-image:url('res/SVG/mid-open.svg');
  background-repeat:no-repeat;
  height:250px;
  width:250px;
}

#bot-drawer-img {
  display: none;
  background-image:url('res/SVG/bottom-open.svg');
  background-repeat:no-repeat;
  height:250px;
  width:250px;
}

#dresser-img {
  background-image:url('res/SVG/closed.svg');
  background-repeat:no-repeat;
  height:250px;
  width:250px;
}

#top-drawer:hover ~ #top-drawer-img {
  display: block;
}

#top-drawer:hover ~ #dresser-img {
  display: none;
}

#mid-drawer:hover ~ #mid-drawer-img {
  display: block;
}

#mid-drawer:hover ~ #dresser-img {
  display: none;
}

#bottom-drawer:hover ~ #bot-drawer-img {
  display: block;
}

#bottom-drawer:hover ~ #dresser-img {
  display: none;
}

#dresser {
  height:200px;
  top: 175px;
  left:80px;
  position:relative;
}

#top-drawer {
  height:25px;
  top: 150px;
  left:50px;
  position:relative;
}

#mid-drawer {
  height:25px;
  top: 175px;
  left:50px;
  position:relative;
}

#bottom-drawer {
  height:25px;
  top: 200px;
  left:50px;
  position:relative;
}

img {
  height: 50%;
  width: 50%;
}
