a {
  text-decoration: none;
  display: inline-block;
  opacity: 0.0;
  width:200px;
  height:30px;
  transition: opacity .5s ease-in-out;
}

#nav {
  margin-top: 10%;
  margin-left:40%;
}

#top-drawer-img {
  display: none;
  background-image:url('res/SVG/top-open_1.svg');
  background-repeat:no-repeat;
  height:280px;
  width:280px;
  right:40px;
  z-index:-1;
  position:relative;
}

#mid-drawer-img {
  display: none;
  background-image:url('res/SVG/mid-open.svg');
  background-repeat:no-repeat;
  height:280px;
  width:280px;
  right:40px;
  z-index:-1;
  position:relative;
}

#bot-drawer-img {
  display: none;
  background-image:url('res/SVG/bottom-open.svg');
  background-repeat:no-repeat;
  height:280px;
  width:280px;
  right:40px;
  z-index:-1;
  position:relative;
}

#dresser-img {
  background-image:url('res/SVG/closed.svg');
  background-repeat:no-repeat;
  height:250px;
  width:250px;
}

#top-drawer:hover ~ #top-drawer-img {
  display: block;
}

#top-drawer:hover a {
  opacity:1.0;
}

#top-drawer:hover ~ #dresser-img {
  display: none;
}

#mid-drawer:hover ~ #mid-drawer-img {
  display: block;
}

#mid-drawer:hover a {
  opacity:1.0;
}

#mid-drawer:hover ~ #dresser-img {
  display: none;
}

#bottom-drawer:hover ~ #bot-drawer-img {
  display: block;
}

#bottom-drawer:hover a {
  opacity:1.0;
}

#bottom-drawer:hover ~ #dresser-img {
  display: none;
}

#dresser {
  height:200px;
  top: 175px;
  left:80px;
  position:relative;
}

#top-drawer {
  height:30px;
  top: 150px;
  left:-100px;
  position:relative;
}

#mid-drawer {
  height:30px;
  top: 175px;
  left:-100px;
  position:relative;
}

#bottom-drawer {
  height:30px;
  top: 200px;
  left:-100px;
  position:relative;
}

img {
  height: 50%;
  width: 50%;
}
